*{
    margin: 2px;
    padding: 6px;
    box-sizing: border-box;
}
body {
     background-color: azure;
     margin: 3px;
     padding: 3px;
     width: 100%;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     line-height: 1.6;
}
header {
    font-size: large;
    margin-top: 30px;
    padding: 10px;
    background-color: rgb(6, 149, 197);
    border-radius: 40px;
    color: aliceblue;
    text-align: center;
    
}
h1 {
    color: rgb(216, 6, 6);
    font-weight: 900 ;
    font-style: italic;
    line-height: 1.3;
    font-size: 3rem;   
}
.h {
    color: rgb(255, 234, 0);
    font-weight: 900;
    font-size: x-large;
}
.y {
    font-weight: 700;
    line-height: 2.2rem;
}
section {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
}
h2 {
    color: rgb(0, 8, 255);
    text-align: center;
    font-size: xx-large;
    line-height: 2.4;
}
.f {
    height: px;
    width: 650px;
    background-color: rgb(90, 98, 255);
    margin-top: -30px;
    margin-left: 29px;
    padding: 3.2px;
}
h3 {
    color: rgb(250, 4, 4);
    font-size: x-large;
    text-decoration: underline;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 10px;
    
}
p {
    font-size: large;
    font-weight: 500;
}
.z {
    background-color: rgb(90, 98, 255);
    margin-top:-22px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 1px;
    width: 310px;
    height: 8px;
}
.d {
    height: 200px;
    width: 700px;
    background-color: rgb(117, 226, 222);
    border-radius: 30px;
    line-height: 3;
    text-align: center;
    margin-right: 10px;
}
.t {
    padding: 04px;
    height: px;
    width: 683px;
    background-color: rgb(55, 121, 244) ;
}
.j {
    color: rgb(255, 255, 3);
    font-weight: 900;   
}
.e {
    font-size: x-large;
}
a {
    color: rgb(235, 16, 115);
}
.r {
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px
}